<a href="https://colab.research.google.com/github/safnazsapna901-droid/simple-python-calculator/blob/main/Safnaz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("I want to study maths")

I want to study maths

In [ ]:
a=10
b=20
c=a+b
print("Sum=",c)

Sum= 30

In [ ]:
print("hello world")

hello world

In [ ]:

# Star Pyramid Pattern

rows = 5  # number of rows

for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [ ]:
# Fibonacci Series Program

n = 10
a, b = 0, 1

print("Fibonacci Series:")

for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Fibonacci Series:
0 1 1 2 3 5 8 13 21 34

In [ ]:

num = int(input("Enter a number: "))

print(f"\n Multiplication Table of {num}\n")
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 5

 Multiplication Table of 5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Prime Number Checker

num = int(input("Enter a number: "))

if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(f"{num} is NOT a Prime Number ❌")
            break
    else:
        print(f"{num} is a Prime Number ✅")
else:
    print(f"{num} is NOT a Prime Number ❌")

Enter a number: 20
20 is NOT a Prime Number ❌

In [ ]:
# Multiplication Table Program

# Ask user for input
num = int(input("Enter a number: "))

print(f"\nMultiplication Table of {num}\n")

# Loop for 1 to 10
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 6

Multiplication Table of 6

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
# Sum of first 10 natural numbers

total = 0
for i in range(1, 11):
    total += i

print("The sum of first 10 natural numbers is:", total)

The sum of first 10 natural numbers is: 55

In [ ]:
# Check if number is Even or Odd

num = 7  # You can change this number

if num % 2 == 0:
    print(f"{num} is Even")
else:
    print(f"{num} is Odd")

7 is Odd

In [ ]:
# Fibonacci series up to 10 terms

n = 10
a, b = 0, 1

print("Fibonacci Series:")

for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Fibonacci Series:
0 1 1 2 3 5 8 13 21 34

In [ ]:
# Factorial of a number

num = 5  # You can change this number
fact = 1

for i in range(1, num + 1):
    fact *= i

print(f"Factorial of {num} is {fact}")

Factorial of 5 is 120

In [ ]:
# Prime number checker

num = 29  # You can change this number
is_prime = True

if num <= 1:
    is_prime = False
else:
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break

if is_prime:
    print(f"{num} is a Prime Number")
else:
    print(f"{num} is Not a Prime Number")

29 is a Prime Number

In [ ]:
# Multiplication tables from 1 to 10

for num in range(1, 11):
    print(f"\nMultiplication Table of {num}")
    for i in range(1, 11):
        print(f"{num} x {i} = {num * i}")

Multiplication Table of 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication Table of 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication Table of 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication Table of 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication Table of 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Multiplication Table of 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Multiplication Table of 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Multiplication Table of 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Multiplication Table of 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Multiplication Table of 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
# Star triangle pattern

rows = 5  # You can change number of rows

for i in range(1, rows + 1):
    print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
# Pyramid star pattern

rows = 5  # You can change number of rows

for i in range(1, rows + 1):
    print(" " * (rows - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
# Number triangle pattern

rows = 5  # You can change number of rows

for i in range(1, rows + 1):
    for j in range(1, i + 1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
# Reverse star triangle pattern

rows = 5  # You can change number of rows

for i in range(rows, 0, -1):
    print("* " * i)

* * * * *
* * * *
* * *
* *
*